{% extends 'main/layoute.html' %}

{% block title %}
<title>Кликер - Hamster Kombat</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Hamster Kombat Кликер</h1>
    <p>Добро пожаловать в игру "Hamster Kombat Кликер"! Здесь вы можете тренировать своих хомяков и зарабатывать очки за каждый клик.</p>
    <p>Как играть:</p>
    <ul>
        <li>Нажимайте на хомяка, чтобы заработать очки</li>
        <li>Используйте заработанные очки для улучшения и силы вашего хомяка</li>
        <li>Постоянно улучшайте навыки своего хомяка, чтобы стать лучшим бойцом в Hamster Kombat</li>
    </ul>
    <p>Начните кликать прямо сейчас и станьте чемпионом!</p>
    <button class="btn btn-success">Начать кликать!</button>
</div>
{% endblock %}