{% extends 'main/layoute.html' %}

{% block title %}
<title>Комьюнити - Hamster Kombat</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Наше Комьюнити</h1>
    <p>Сообщество Hamster Kombat - это место, где игроки могут делиться своими достижениями, обсуждать тактики и стратегии, а также находить новых друзей. Присоединяйтесь к нашему форуму и участвуйте в дискуссиях!</p>
    <p>В нашем сообществе вы найдете:</p>
    <ul>
        <li>Форумы для обсуждения игр и тактик</li>
        <li>Группы по интересам и клубы</li>
        <li>Мероприятия и турниры</li>
        <li>Поддержка и помощь от опытных игроков</li>
    </ul>
    <p>Заполните анкету, чтобы стать частью нашего сообщества и начать общение с другими фанатами Hamster Kombat!</p>
</div>
{% endblock %}