{% extends 'main/layoute.html' %}

{% block title %}
<title>Контакты - Hamster Kombat</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Контакты</h1>
    <p>У вас есть вопросы или предложения? Свяжитесь с нами!</p>
    <p>Вы можете связаться с нашей командой по электронной почте или через социальные сети.
        Мы всегда рады вашим отзывам и предложениям по улучшению Hamster Kombat.</p>
    <p>Наши контакты:</p>
    <ul>
        <li>Email: support@hamsterkombat.com</li>
        <li>Телефон: +1 (123) 456-7890</li>
        <li>Адрес: 123 Hamster Lane, Kombat City, USA</li>
    </ul>
    <p>Следите за нами в социальных сетях, чтобы быть в курсе последних новостей и обновлений!</p>
</div>
{% endblock %}