{% extends 'main/layoute.html' %}

{% block title %}
<title>Главная - Hamster Kombat</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron mt-4">
        <h1 class="display-4">Добро пожаловать в Hamster Kombat!</h1>
        <p class="lead">Погрузитесь в мир захватывающих боев хомяков, где каждый бой - это эпическое сражение!</p>
        <hr class="my-4">
        <p>Участвуйте в боях, зарабатывайте очки и станьте чемпионом Hamster Kombat. Присоединяйтесь к нашему сообществу и делитесь своими успехами!</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Начать игру</a>
    </div>
</div>
{% endblock %}