{% extends 'main/layoute.html' %}

{% block title %}
<title>Страница добавления новостей</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }
        .container h3 {
            margin: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card" style="width: 70rem;">
            <div class="card-header">
                Добавление новости
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.title }}
                    </div>
                    <div class="form-group">
                        {{ form.short_description }}
                    </div>
                    <div class="form-group">
                        {{ form.text }}
                    </div>
                    <div class="form-group">
                        {{ form.author }}
                    </div>
                    <div class="form-group">
                        {{ form.pub_date }}
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить новость</button>
                </form>
                <p>{{ error }}</p>
            </div>
        </div>
    </div>

{% endblock %}